/* -------------------------------  POP UP ------------------------------------ */
.popup-bg {
	background: none repeat scroll 0 0 #000000;
	cursor: pointer;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1001;
}
.popupWindow {
	display: none;
	background: #fff;
	position: absolute;
	z-index: 1002;
}
.popupWindow .order-form label {
	display: block;
	float: left;
	line-height: 20px;
	width: 150px;
}